:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  background: #0F3B6D;
  height: 100%;
}

mat-drawer {
  background: #0F3B6D;
}
